html {
  line-height: 1.15; /* 1 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  outline-offset: -2px; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button {
  border: none;
}

ul {
  list-style: none;
}

/* CUSTOM */

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ClashGrotesk-Extralight";
  src: url("font/ClashGrotesk-Extralight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* --fancy-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  --fancy-font: "ClashGrotesk-Extralight";
  --backgound-color-scheme: #4b3f29bf;
  --menu-color-scheme: #19140fde;
  --dropdown-color-scheme: #b1a281;
  --opaque-background: rgba(255, 255, 255, 0);

  font-family: var(--fancy-font);
  font-weight: 100;
  flex-direction: column;
  color: white;
  background-color: var(--backgound-color-scheme);
}

/* Loading screen style */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: var(--fancy-font), sans-serif;
}

#progress-bar-container {
  width: 80%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 20px;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--menu-color-scheme);
  border-radius: 10px;
}

/* display flex */

body,
header,
main,
#dropdown-container,
#title,
#countdown-container,
#rsvp-container,
button#rsvp,
li a,
.section {
  display: flex;
}

/* justify center */

#title,
#countdown-container,
#rsvp-container,
button#rsvp {
  justify-content: center;
}

[id$="-button"],
[id$="-menu"],
li,
div {
  touch-action: manipulation;
}

h2 {
  text-align: center;
  font-family: inherit;
  font-weight: 100;
  font-size: 1.25rem;
}

/* header */

header {
  font-family: var(--fancy-font);
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 25px;
  background-color: var(--opaque-background);
  position: fixed;
  z-index: 5;
  top: 0;
}

/* Title */

#title {
  flex-direction: column;
  color: white;
  font-family: var(--fancy-font);
}

/* Sound button */

#unmute {
  background-image: url(img/sound-on.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  background-color: var(--opaque-background);
  opacity: 0;
  pointer-events: none;
}

#mute {
  background-image: url(img/sound-off.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  background-color: var(--opaque-background);
  opacity: 0;
  pointer-events: none;
}

#unmute.visible,
#mute.visible {
  z-index: 11;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 70px;
  right: 20px;
}

#unmute.visible {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Volume */

input[type="range"] {
  position: fixed;
  transform: rotate(-90deg);
  z-index: 11;
  top: 180px;
  right: 0px;
  width: 100px;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  opacity: 0;
  pointer-events: none;
  padding: 10px 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::after {
  content: "";
  position: absolute;
  top: -10px; /* Expands hitbox upward */
  bottom: -10px; /* Expands hitbox downward */
  left: 0;
  right: 0;
  pointer-events: none; /* Doesn't interfere with dragging */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
  border: none;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
  border: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 10px;
  height: 25px;
  border-radius: 23px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0);
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 25px;
  border-radius: 23px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0);
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 25px;
  border-radius: 23px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}

#volume-control.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Menu */

#menu-button {
  margin-top: 3px;
  align-items: center;
}

#menu-button,
img#menu-close-button {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  width: 42px;
  padding-right: 25px;
  padding-top: 10px;
  background-color: var(--opaque-background);
}

#dropdown-container {
  text-align: center;
  cursor: pointer;
}

#dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: var(--dropdown-color-scheme);
  width: 60vw;
  height: 100vh;
  top: 0;
  right: 0;
  text-align: start;
  opacity: 0;
  z-index: 10;
  position: fixed;
  /* transform: translateX(100%); */
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

li a {
  font-size: 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 100px;
  font-family: var(--fancy-font);
}

a:hover,
a:focus {
  text-decoration: underline;
}

#dropdown-menu.visible {
  opacity: 1;
  /* transform: translateX(0); */
  pointer-events: auto;
}

/* main */

main {
  flex-direction: column;
}

/* video */

#video-container {
  position: relative;
  z-index: 2;
  width: fit-content;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  display: none; /* Hidden until loaded */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Save the Date */

#saveTheDate {
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--fancy-font);
  width: 100vw;
  color: white;
  position: absolute;
  z-index: 3;
  transform: translateX(500%);
  transform: translateY(500%);
}

/* Wedding Day */

main #weddingDay {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  font-family: var(--fancy-font);
  width: 100vw;
  color: white;
  position: absolute;
  z-index: 3;
  transform: translateX(500%);
  transform: translateY(400%);
}

/* Countdown */

#countdown-container {
  color: white;
  width: 100vw;
  position: absolute;
  transform: translateY(200px);
  z-index: 4;
}

#counter div {
  text-align: center;
  font-size: 1.5rem;
}

#counter .counter-label {
  font-size: 0.75rem;
}

#counter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  width: 70vw;
}

/* sections */

.section {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  align-items: center;
}

.section p {
  max-width: 70vw;
}

.section h2 {
  font-size: 1.5rem;
}

/* Our Story */

#our-story-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--fancy-font);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc92;
  transition: 0.4s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
}

#kor {
  font-weight: thin;
}

.slider-text {
  position: relative;
  font-size: 14px;
  color: rgb(255, 255, 255);
  transition: transform 0.4s;
  justify-self: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 34px;
  left: 2px;
  top: 2px;
  background-color: rgba(255, 255, 255, 0.279);
  transition: 0.4s;
  border-radius: 6px;
  z-index: 1;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

#our-story-container p {
  margin: 0px;
}

/* Registry */

#registry-container p {
  font-size: 1.3rem;
}

/* RSVP */
#rsvp-container {
  height: fit-content;
  padding: 40px;
  justify-content: start;
}

#rsvp-container p {
  margin-top: 0px;
}

/* RSVP button */

button#rsvp {
  background-color: var(--dropdown-color-scheme);
  align-items: center;
  font-size: 1.5rem;
  color: white;
  padding: 0.5px 40px;
  margin-bottom: 30px;
}

/* RSVP Form */

#rsvp-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  width: 60vw;
  padding: 20px;
  border: 0.5px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

#rsvp-form label,
#rsvp-form select,
#rsvp-form input {
  grid-column: span 2;
  align-self: center;
}

#rsvp-form input[type="text"],
#rsvp-form input[type="email"],
#rsvp-form select {
  padding: 10px;
  border: 0.5px solid white;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

#rsvp-form label[for="yes"],
#rsvp-form label[for="no"] {
  grid-column: 1 span 2;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rsvp-form input[type="radio"] {
  margin-left: 20px;
}

#rsvp-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/src/img/dropdown-arrow.svg") no-repeat right 20px center;
}

#rsvp-form button {
  grid-column: span 2;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* submit loading */

/* Loader container */
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* Bouncing heart */
.bouncing-heart {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fff; /* Heart color */
  transform: rotate(-45deg);
  animation: bounce 1s infinite;
}

/* Left part of the heart */
.bouncing-heart::before,
.bouncing-heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

/* Top left circle */
.bouncing-heart::before {
  top: -10px;
  left: 0;
}

/* Top right circle */
.bouncing-heart::after {
  left: 10px;
  top: 0;
}

/* Text below the heart */
.loader-text {
  font-family: var(--fancy-font);
  text-align: end;
  font-size: 18px;
  color: white;
  margin-top: 5px;
}

/* Bounce animation */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(-50px) rotate(-45deg); /* Adjust height of the bounce */
  }
}

/* Media Queries */

/* iPad landscape */

@media screen and (min-width: 501px) {
  #title {
    font-size: 1.5rem;
  }

  div#weddingDay {
    font-size: 4.5rem;
    transform: translateY(100%);
  }

  div#saveTheDate {
    transform: translateY(150%);
    font-size: 2rem;
  }

  div#countdown-container {
    position: relative;
    transform: translateY(-100px);
  }

  li a {
    font-size: 1.5rem;
  }

  #dropdown-menu {
    width: 250px;
  }
}

/* iPad Portrait */

@media screen and (min-height: 1200px) {
  div#weddingDay {
    transform: translateY(100%);
  }

  li a {
    font-size: 1.8rem;
  }

  div#countdown-container {
    transform: translateY(-150px);
  }
}

/* Computer */

@media screen and (min-width: 1101px) {
  div#weddingDay {
    font-size: 6rem;
    transform: translateY(50%);
  }

  div#saveTheDate {
    transform: translateY(100%);
    font-size: 1.8rem;
  }

  #counter {
    max-width: 40vw;
  }
}

@media screen and (min-height: 1600px) {
  div#weddingDay {
    font-size: 6rem;
    transform: translateY(100%);
  }
  div#saveTheDate {
    transform: translateY(150%);
    font-size: 1.8rem;
  }

  div#countdown-container {
    transform: translateY(-150px);
  }

  #counter div {
    font-size: 3rem;
  }

  #counter .counter-label {
    font-size: 1rem;
  }
}
